<script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>JS Bin</title>  
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Movies</a>
    </div>

  </div>
</nav> 
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Movies</h1>
      </div>
    </div>
     <p>
<a href="http://gitbox-131549.use1.nitrousbox.com:8080/new_movie" class="new">New Movie</a>
</p>
    <p>
    
    </p>
    <ul>
   
      
      
      <% @m.each do |movie| %>
      
        <li>
          <a href= <%= "#{movie.url}" %>> <img src=<%= "#{movie.image}"%>> </a>
          <a href=<%= "http://gitbox-131549.use1.nitrousbox.com:8080/movie/#{movie.id}/edit" %> >Edit</a> 
      
        <br>
      </li>
    
    <% end %>
</ul>
   