<h2> <center>New Movie</center> </h2>
<br><br><br>
<form action="/create_movie">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="url" placeholder="link">
  <input type="text" name="image" placeholder="image">
  <input type="submit">
</form>